body {
    font-family: Arial, sans-serif;
    background-color: #d71212ff;
    padding: 20px;
}

h1, h2, h3, h4 {
    color: #535e68ff;
}

div {
    background: #fff;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
}

table {
    width: 60%;
    color : #8e2828ff;
    margin-top: 10px;
}

th, td {
    padding: 10px;
    border: 1px solid black;
    text-align: left;
}

img {
    margin: 10px 0;
}
p{
    font-size: 16px;
    line-height: 1.5;
    color: #555;
}
.highlight {
    background-color: #ffff99;
}   