body {
    font-family: Arial, sans-serif;
    background-color: rgb(236, 177, 50);
    padding: 20px;
}

h1, h2, h3, h4 {
    color: #535e68ff;
}

figure img {
    width: 80px;     
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}

table {
    width: 60%;
    color : #8e2828ff;
    margin-top: 10px;
}

th, td {
    padding: 10px;
    border: 1px solid black;
    text-align: left;
}

img {
    margin: 10px 0;
}
p{
    font-size: 16px;
    line-height: 1.5;
    color: #555;
}
/* .highlight {
    background-color: #ffff99;
}    */