body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e6ddb3;
}

.banner {
    background-color: #8b4513;
    color: black;
    text-align: center;
    padding: 40px;
}

.container {
    display: flex;
    padding: 20px;
}

.menu {
    width: 200px;
}

.menu ul {
    padding-left: 20px;
    
}

.content {
    margin-left: 40px;

}