body {
    font-family: Arial, sans-serif;
    background-color: #9cd418ff;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #24517aff;
}
a{
    text-align: center;
}
div {
    background: #d1e5eaff;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
}

table {
    width: 60%;
    color : #772828ff;
    margin-top: 10px;
}

th, td {
    padding: 10px;
    border: 1px solid black;
    text-align: left;
}

img {
    margin: 10px 0;
}
p{
    font-size: 16px;
    line-height: 1.5;
    color: #555;
}
.highlight {
    background-color: #ffff99;
}