body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #82dfdf;
}

header {
    background: #333;
    color: rgb(108, 215, 153);
    padding: 15px;
    text-align: center;
}

main {
    padding: 20px;
}

section {
    display: flex;
    justify-content: center;
}

article {
    width: 85%;
    background: rgb(215, 203, 70);
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background: #555;
    color: #ece4e4;
    padding: 10px;
    border: 1px solid #444;
}

td {
    padding: 8px;
    text-align: center;
    border: 1px solid #999;
}

.group td:first-child {
    background: #1a5761;
    color: rgb(246, 248, 230);
    font-weight: bold;
}

tbody tr:nth-child(even) {
    background: #a36250;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
