body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #582c2c;
}

.container {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}

section {
    flex: 1;
    min-width: 350px;
    padding: 20px;
    border: 1px solid #582c2c;
    border-radius: 8px;
    background: #f9f9f9;
}

h1{
    color:#de0f0c;
}
h2 {
    color:rgb(105, 42, 42);
    margin-top: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid black;
}

th,
td {
    padding: 8px;
    text-align: left;
}


.thick-border {
    border: thick solid #333;
    padding: 20px;
    margin: 10px 0;
    border-radius: 5px;
}